{% extends "courses/base.html" %}
{% load static %}
{% block title %}<title>{{ course.course_name|title}}</title>{% endblock title %}
{% block content %}
<section class="page-content" id="course-page">
    <div class="container">
        <main class="course-detail">
            <h2>learn {{ course.course_name|title}}</h2>
            <header>
                <div class="course-box">
                    <i class="far fa-clock"></i>
                    <p>4 years</p>
                    <p>(5 hours/day)</p>
                </div>

                <div class="course-box">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <p>44 students/ class</p>
                </div>

                <div class="course-box">
                    <i class="fas fa-money-check-alt"></i>
                    <p>$ 5,000</p>
                    <p>(Books are included)</p>
                </div>

                <div class="course-box">
                    <h3>{{ course.course_name|title}} course syallabus</h3>
                    <button>download pdf</button>
                </div>
            </header>
            <article>
                <section class="course-intro">
                    <h3>Introduction</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>

                <section class="course-objective">
                    <h3>Objectives</h3>
                    <p>After this course student will be able to:</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                    </ul>

                    <h3>Certification</h3>
                    <p>After this course Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodc illum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <h3>Who can apply for this course?</h3>
                    <ul>
                        <li>+2 with science faculty</li>
                        <li>+2 with management faculty</li>
                        <li>+2 with science faculty</li>
                        <li>+2 with management faculty</li>
                    </ul>

                    <h3>Training Methodology</h3>
                    <ul>
                        <li>Weekly test</li>
                        <li>Digital Class</li>
                        <li>Field Visit and real project demonstration</li>
                        <li>+2 with managem</li>
                    </ul>
                </section>
            </article>					
        </main>
        <aside>
            <div class="reserve-course">
                <h2>Reserve this course</h2>
                <form>
                    <input type="text" placeholder="Your Name*" required>
                    <input type="email" name="userEmail" placeholder="Your Email Address..." required>
                    <input type="text" placeholder="Your Occupation*" required>
                    <input type="text" placeholder="Choose course*" required>
                    <textarea placeholder="Write your message"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <!-- New Letter Ends -->
            <div class="recent-post">
                <h2>trainers</h2>
                {% for instructor in instructors %}
                <div class="post">
                    <div class="post-wrap">
                        <div class="img-wrap">
                            <img src="{% static 'images/recent-post-img.jpg' %}" alt="Post Images">
                        </div>
                        <div class="post-content">
                            <a href="#">
                                <h3>{{instructor.instructor_name}}</h3>
                                <p>{{instructor.course_teaching}}</p>
                            </a>
                            <span>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <!-- Recent Post Close -->
        </aside>
    </div>
</section>
<section class="recent-course-single">
    <div class="container">
        <h2>recent courses</h2>
        <div class="grid">
            {% for available_course in available_courses %}
            <div class="grid-item" data-category="business">
                <div class="img-wrap">
                    <img src="{% static 'images/course-pic.jpg' %}" alt="courses picture">
                </div>
                <a href="{{course.get_absolute_url}}" class="learn-desining-banner-course">{{available_course.course_name}} >>></a>
                <div class="box-body">
                    <p>{{available_course.course_desc|truncatechars:100}}</p>
                    <section>
                        <p><span>Duration:</span> 4 Years</p>
                        <p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
                        <p><span>Fee:</span> 4,00,000</p>
                    </section>
                </div>
            </div>
            {% endfor %}
    </div>
</section>
{% endblock content%}