{% extends "courses/base.html" %}
{% load static %}
{% block title %}<title>Courses Listing</title>{% endblock title %}
{% block content %}
<section class="course-listing-page">
    <div class="container">
        <div id="filters" class="button-group">
            <button class="button" data-filter="*">all</button>
              
              <button class="button" data-filter=".design">design</button>
              <button class="button" data-filter=".development">development</button>
              <button class="button" data-filter=".seo">seo</button>
              <button class="button" data-filter=".marketing">marketing</button>
        </div>

        <div class="grid" id="cGrid">
            {% for course in courses %}
            <div class="grid-item business" data-category="business">
                <div class="img-wrap">
                    <img src="{% static 'images/course-pic.jpg' %}" alt="courses picture">
                </div>
                <a href="{{course.get_absolute_url}}" class="learn-desining-banner-course">{{ course.course_name|title}} >>></a>
                <div class="box-body">
                    <p>{{course.course_desc|truncatechars:100}}</p>
                    <section>
                        <p><span>Duration:</span> 4 Years</p>
                        <p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
                        <p><span>Fee:</span> 4,00,000</p>
                    </section>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
{% endblock content%}